<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Airline.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=ORCL;PASSWORD=ASS2;USER ID=ASS2"
        providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
